*{margin:0; padding:0; box-sizing:border-box;}
img{max-width: 100%;}
body{font-family: 'Raleway', sans-serif;}

.modal-produto{
  position: fixed;
  width:300px;
  height: 350px;
  margin:150px 40% auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background:#ffffff;
  z-index: 100;
  border-radius: 5px;
}

.ds-none {display: none;}

.modal-produto span{display: block; text-transform: uppercase; color:#4EC2DD; font-weight: bold;
  font-size:1.2em; text-align: center;}
  
  .bg{
    content:"";
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position: fixed;
    z-index: 1;
    background:rgba(0, 0, 0, .5);
  }

.menu{
  height: 74px;
  /* background:red; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid #E5E5E5;
}

.menu ul {display: flex; align-items: center;}
.menu li {margin:10px; list-style: none;}
.menu li a{text-decoration: none; color:#C8C8C8;}
.menu li:nth-of-type(3n) a{color:#4EC2DD; font-weight:bold; display: block; text-transform: uppercase;}
.form-search{margin:30px;}
.form-search input{padding:15px 50px 15px; width:500px; border:0; border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .16); outline: none;}
.form-search input::-webkit-input-placeholder{color: #C8C8C8; left:20px;}

.search{position: absolute; margin-top:12px; margin-left:10px; outline: 0;}

  .icons{width:25px; height: 25px;} 
.cart{border:0; background: none; cursor: pointer;}
.cart a{outline: none;}
.cart-qnt{position: absolute; background:#4EC2DD; color:#ffffff; font-weight: bold; margin-top:-35px; 
  margin-left:15px; line-height: 8px; padding:5px; border-radius:50px; text-align: center; font-size: .8em;}

/* CONTAINER */
.container{
  width:960px; 
  margin:0 auto;
  /* background: green; */
}

/* PRODUTO */
.desc-produto{display: flex; justify-content: space-between; margin:20px;}
.box-image img{border-width:1px solid #C8C8C8;}
.list-thumbs{margin-right:10px;}
.list-thumbs li{list-style: none;}

/* BOX-INFO */
.box-info{width:50%; padding:1em;}
.box-info h1{font-size: 1.8em; color: #C8C8C8;}

/* BOX-PREÇO */
.box-preco{display: flex; margin-top:35px; margin-left:-16px; flex-direction: column; background: #F8F8F8;
  padding:1em;}
.box-preco span, p{font-size:1em; color:#C8C8C8; display: block;} 
.box-preco b{font-size:2em; color:#4EC2DD;}

/* BOX-FRETE */
.box-frete{background:#4EC2DD; display: flex; flex-direction: column; border-radius: 5px;
  padding:1em; margin-top:20px;}
.box-frete input{padding:15px 20px 15px; width:150px; border:0; border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .16); outline: none;}
.box-frete input:nth-last-of-type(1){width:90px;}
.box-frete ::-webkit-input-placeholder{color:#E5E5E5; font-weight: 500; font-size:1.2em;}
.box-frete span{font-weight: bold; color:#ffffff; text-transform: uppercase; margin-bottom: 20px;}
.btn-calcep{padding:15px 20px; border:0; border-radius: 5px; background:#0F4156; color:#ffffff;
  font-weight: bold; cursor: pointer; box-shadow: 0 0 5px rgba(0, 0, 0, .16);}
.btn-comprar{width:60%; padding:20px 20px; border:0; border-radius: 5px; margin-top:20px; background: #71CE4B;
  border-bottom:5px solid #75AC5E; color:#ffffff; text-transform: uppercase; font-weight: bold;
  font-size: 1.5em; cursor: pointer;}

/* DESCRIÇÃO PRODUTO */
.descricao-produto{margin:20px;}
.descricao-produto span{color:#0F4156; text-align: center; display: block; font-size:1.5em;}
.descricao-produto p{font-size:1em; margin-top:20px; line-height: 20px;}

/* DESCRIÇÃO QUEM VIU */
.descricao-quemviu{width:90%; margin:0 auto; margin-top:100px; display: flex; justify-content: space-between;}
.descricao-quemviu article{width:270px; min-height:500px; padding:.7em; background:#F8F8F8;}
.descricao-quemviu span{color:#C8C8C8; margin-bottom:20px; display: block;}
.descricao-quemviu .price{font-weight: bold; font-size:1.5em; color:#4EC2DD;}

/* FOOTER */
.footer{width:100%; display: flex; align-items: center; bottom:0; background: #4EC2DD;}
.footer p{margin-left:30px; color:#ffffff; font-size:.8em;}
.logo-footer{width:30%; display: flex; justify-content: flex-end; background:#0F4156; padding:1em;}

/* MOBILE */
@media (max-width:960px){
  /* #modal-produto{ margin:150px 35% auto;} */
  .menu{flex-wrap: wrap; height: auto;}
  .form-search input{width: 100%;}

  .container{width:80%;}
  .desc-produto{flex-wrap: wrap; justify-content: center;}
  .box-info, .box-preco, .box-frete{width:100%; margin:0 auto; margin-left: 0; margin-top:20px;}

  .descricao-produto{margin:20px;}

  .descricao-quemviu{width:100%;justify-content: center; flex-wrap: wrap; margin:0 auto; margin-bottom:20px;}
  .descricao-quemviu article{ margin:20px;}
}

@media (max-width:660px){
  .modal-produto{ margin:150px 20% auto;}
  .menu{flex-wrap: wrap; height: auto; padding:1em;}
  .form-search input{width: 100%;}

  .container{width:100%;}
  .desc-produto{flex-wrap: wrap; justify-content: center;}
  .list-thumbs li{display: inline;}

  .box-info, .box-preco, .box-frete{width:100%; margin-left: 0;}

  .descricao-produto{margin:20px;}

  .descricao-quemviu{justify-content: center; flex-wrap: wrap; margin:0 auto; margin-bottom:20px;}
  .descricao-quemviu article{margin-bottom:20px;}
}